<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{.}}{{else}}en-US{{ end }}">
<head>
  {{ partial "meta.html" }}
  {{ .Hugo.Generator }}
  <title>{{ .Title }} &middot; {{.Site.Title }}</title>
  <link rel="shortcut icon" href="{{ .Site.BaseURL }}/images/favicon.ico" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css" />
  {{ if .Site.Params.enableRSS }}
    <link href="{{ .Site.RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
