<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="{{ with .Site.Params.name }}{{ . }}{{ end }}" />
<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{end}}" />
